@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Baskervville:ital@0;1&display=swap');

*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: var(--font2);
}
:root{
    --font1: 'Baskervville', Helvetica, sans-serif;
    --font2: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    --cor1: #542D72;
}

body, html{
    background-color: var(--cor1);
    width: 100vh;
    height: 100vh;
}
main{
    position: relative;
    width: 100vw;
    height: 100vh;
}
section#id_login{
    border-radius: 20px;
    box-shadow: 0px 0px 10px black;
    width: 250px;
    height: 500px;

    position: relative;
    top: 50%;
    left: 50%;

    background-color: white;
    overflow: hidden;

    transition: width 0.3s, heigth 0.3s;
    transition-timing-function: ease;
    transform: translate(-50%, -50%);

}
div#imagem{
    display: block;
    background: var(--cor1) url('../imagens/login.jpg') no-repeat;
    background-size: cover;
    height: 168px;
}
div#formulario{
    display: block;
    text-align: center;
}
h2{
    text-align: center;
    margin-bottom: 10px;
}
#formulario  p{
    padding-right: 20px;
    padding-left: 20px;
    font-size: 0.8em;
}
form div.campo{
    background-color: #602c82ad;
    display: block;
    width: 100%;
    height: 40px;
    border-radius: 5px;
    margin: 5px 0px;
}
div.campo > label{
    display: none;
}
div.campo > i{
    color: white;
    font-size: 2em;
    padding: 5px;
    width: 40px;
}
div.campo > input{
    font-size: 1em;
    height: 100%;
    border: 1px solid #602c82ad;
    border-radius: 5px;
    width: calc(100% - 45px);
    padding: 4px;
    transform:translateY(-10px);
}
div.campo > input:focus-within{
    background-color: rgb(211, 211, 211, 0.6);
}
form{
    background-color: white;
    text-align: left;
    padding: 10px;
}
form > input[type=submit]{
    display: block;
    font-size: 1em;
    width: 100%;
    height: 40px;
    background-color: #4FABA3;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 20px
}
form > input[type=submit]:hover{
    background-color: #3f857f;
}
form > a.botao{
    margin-top: 10px;
    padding-top: 7px;
    display: block;
    text-align: center;
    font-size: 1em;
    width: 100%;
    height: 40px;
    background-color: white;
    border-radius: 5px;
    text-decoration: none;
    color: #3f857f;
    border: 1px solid #3f857f;
    text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.4);
}
form > a.botao:hover{
    background-color: #65d8ce;
    color: white;
}
form > a.botao > i{
    font-size: 0.8em;
}
